<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Allegoria - Command list</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.png" />
    <!-- Bootstrap Icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet" />
    <meta name="description" content="Start now an incredible adventure with your friends in discord! Earn money, fight yourself, marry yourself and more!">
    <meta name="keywords" content="admin, bot, dashboard, Allegoria, website, discord, discordapp, discord music bot">
    <title>Green-bot - The perfect discord music bot!</title>
    <meta name="theme-color" content="#efaa66">
    <link rel="apple-touch-icon" href="/assets/img/favicon.png">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.png">
    <link rel="shortcut icon" href="/assets/img/favicon.png">

    <meta property="og:type" content="website">
    <meta property=og:image content="/assets/img/favicon.png">
    <meta property="og:title" content="Allegoria - The best discord rpg bot!">
    <meta property="og:description" content="Start now an incredible adventure with your friends in discord! Earn money, fight yourself, marry yourself and more!">
    <meta property="og:url" content="https://allegoria.me">
    <meta name="twitter:card" content="app">
    <meta name="twitter:title" content="Allegoria - The best discord rpg bot!">
    <meta name="twitter:description" content="Start now an incredible adventure with your friends in discord! Earn money, fight yourself, marry yourself and more!">

</head>

<body id="page-top" style="background-color:#36393f!important">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container px-4 px-lg-5">
            <img src="https://cdn.discordapp.com/avatars/850080680578383872/c672007f89ad62c8a96433445ea07df8.png" style="border-radius: 50%;height: 40px;"><a class="navbar-brand" href="/" style="color: aliceblue;">Allegoria</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto my-2 my-lg-0">
                    <li class="nav-item"><a class="nav-link" href="/commands" st>Commands</a></li>
                    <li class="nav-item"><a class="nav-link" href="/clans">Clans</a></li>
                    <li class="nav-item"><a class="nav-link" href="/discord">Support server</a></li>
                    <li class="nav-item"><a class="nav-link disabled" href="/vote">Vote</a></li>
                    <% if(is_logged){%>
                        <li class="nav-item">
                            <a class="nav-link" href="/discord" style="font-size: 1rem !important;">
                                <%= (is_logged ? `${user.username}` : 'Se connecter') %> <img src="<%= UserAvatar %>" height="40px" width="40px" style=" border-radius: 50%;">
                            </a>
                        </li>
                        <%}%>
                            <% if(is_logged==false){%>
                                <li class="nav-item"> <a _ngcontent-uha-c44="" routerlink="/landings/multipurpose" style="height: 32px;
                        font-size: 1.2rem;
                        font-family: proxima-nova, sans-serif;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    user-select: none;
    padding-inline-end: 25px;
    padding-inline-start: 25px;
    min-height: 21px;
    font-size: 16px;
    line-height: 21px;
    color: fff;
    border-radius: 12px;
    transition: background-color 0.15s ease-out 0s, color, opacity, border;
    outline: none;
    text-decoration: none;
    background: #ebb784;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;" class="btn btn-lg btn-primary fw-500 me-3" href="/auth/login">Login</a></li>
                                <%}%>
                </ul>
            </div>
        </div>
    </nav>
    <!-- About-->
    <h1 style="font-size: 2rem;">Command List</h1> <br><br>
    <div _ngcontent-gij-c84="" class="card card-team" style="align-items: center;background-color: #2a2c30!important;">
        <div _ngcontent-gij-c84="" class="card-body">
            <h1 style="color: #fff !important;font-size:1.4rem;">Getting started</h1>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;color: #c5ccd6!important;font-size:.995rem;line-height:20px;">You can see there the list of the commands of Allegoria sorted by categories<br>To execute a command, first write the prefix and then the command name. Reminder: Hooks such as [] or
                    <> must not be used when executing commands.<br>For more help, check out the <a href="https://guide.green-bot.app">Documentation</a>


        </div>
    </div>

    </div><br>
    <div _ngcontent-gij-c84="" class="card card-team" style="align-items: center;background-color: #2a2c30!important;">
        <div _ngcontent-gij-c84="" class="card-body">
            <h1 style="color: #999 !important;font-size:1.4rem;">Command List (
                <%= commands.size %> )
            </h1>
            <div _ngcontent-gij-c84="" class="card-body">
                <table class="table is-hoverable" id="music">
                    <thead>
                        <tr style="color: #999 !important;font-family: Poppins,sans-serif">
                            <th>Name</th>
                            <th>Use</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <br><br>
                    <style>
                        .table td,
                        .table th {
                            border: none!important;
                            border-width: 0 0 1px;
                            padding: .5em .75em;
                            vertical-align: top;
                        }
                        
                        .table td {
                            font-size: 1.1rem !important;
                        }
                        
                        .table th {
                            font-size: 1.2rem !important;
                        }
                    </style>
                    <tbody>
                        <% commands.forEach(cmd=>{ %>

                            <tr style="color: #f2f2f2 !important;  border-radius: 50%!important;    font-family: Poppins,sans-serif;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 1.5;
                            letter-spacing: normal;
                        ">
                                <td>
                                    <%= cmd.name %>
                                </td>
                                <td>
                                    /
                                    <%= cmd.name %>
                                </td>
                                <td>
                                    <%= cmd.description %>
                                </td>
                            </tr>

                            <% }) %>
                    </tbody>
                </table>
            </div>

        </div>
    </div>


    </div>
    </div>
    <br><br><br>

    </section>

    <!-- Portfolio-->

    <!-- Call to action-->
    <section class="page-section bg-dark text-white" style="background-color:  #2a2c30!important;">
        <div class="container px-4 px-lg-5 text-center">
            <h2 class="mb-4" style="font-size: 1.6rem !important;">Uh! You're still there? What are you waiting for?</h2>
            <a class="btn btn-light btn-xl" href="https://startbootstrap.com/theme/creative/">Add to discord!</a>
        </div>
    </section>
    <!-- Contact-->

    <!-- Footer-->
    <footer class="bg-light py-5" style="background-color: #36393f!important">
        <div class="container px-4 px-lg-5">
            <div class="small text-center text-muted">Copyright &copy; 2022 - Allegoria Network, a service provided by <a href="https://green-bot.app">Green-bot Developement</a><br><br>
                <h6>Useful links</h6><br><a href="/temrs">• Terms of service</a> | <a href="/discord">• Support server</a> | <a href="/appeals">• Ban appeals</a>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- SimpleLightbox plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>

</html>